<!DOCTYPE html>

<html>

<head>

	<title>Distributed Raytracing Demo</title>
	<script src="../js/jquery.min.js"></script>
	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css"/>

	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"/>
	<script src="../js/bootstrap.min.js"></script>

</head>

<body>
	
	
	
	<div id="here_table" style="margin: 20px; float: left;">
	</div>
	
	<h3 style="float: left; margin-left: 40px;">http://diadraw-rt.herokuapp.com</h3>
	<img style="float: left;" src="../images/qr_demo3.jpg"/>
	

	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/networking.js"></script>
	
</body>

</html>